<div id="side_search" class="side_search">
  <%= form_tag catalog_index_path, :method => :get do %>         
    <%= text_field_tag :q, params[:q], :class => "q", :placeholder => "new search" %>
     <%= hidden_field_tag :search_field, 'all_fields' %>
    <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>
     <%= image_submit_tag("magnifying_glass.gif", :alt => "search", :class => 'submit') %>
  <% end %>

  <hr/>
</div>
