<h1>Listing shopping_carts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Settled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shopping_carts.each do |shopping_cart| %>
  <tr>
    <td><%= shopping_cart.user %></td>
    <td><%= shopping_cart.settled %></td>
    <td><%= link_to 'Show', shopping_cart %></td>
    <td><%= link_to 'Edit', edit_shopping_cart_path(shopping_cart) %></td>
    <td><%= link_to 'Destroy', shopping_cart, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shopping cart', new_shopping_cart_path %>
