<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @shopping_cart.user %>
</p>

<p>
  <b>Settled:</b>
  <%= @shopping_cart.settled %>
</p>

<div id="cart_items_list">
  <h3>Current items in cart</h3>
  <ul>
    <% @shopping_cart.shopping_cart_items.each do |item| %>
      <li><a href="/catalog/<%= item.solr_document_id %>"><%= item.solr_document_id %></a></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Back', shopping_carts_path %>
