<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @visit.item_id %>
</p>

<p>
  <b>Title:</b>
  <%= @visit.title %>
</p>

<p>
  <b>Visits:</b>
  <%= @visit.visits %>
</p>


<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
