<h2>My Requested Items</h2>


<% if @user.artifacts.nil? %>
  <em>You currently don't have any items requested.</em>
<% else %>
  <table>
    <tr>
      <th>Item</h2>
      <th>Digitization Status</th>
      <th>User Status</th>
      <th>Actions</th>
    </tr>
    <% @user.sponsorships.each do |sponsorship| %>
      <tr id="sponsorship-<%= sponsorship.id %>">
        <% solr_doc =  %>
        <td><%= link_to sponsorship.artifact.title, catalog_path(sponsorship.artifact.solr_document_id) %></td>
        <td class='state'><%= sponsorship.artifact.state %></td>
        <td class='status'><%= sponsorship_status(sponsorship) %></td>
        <td class='actions'><%= sponsorship_actions(sponsorship) %></td>
      </tr>
    <% end %>
  </table>
<% end %>