<h2>My Requested Items</h2>


<% if @user.artifacts.nil? %>
  <em>You currently don't have any items requested.</em>
<% else %>
    <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>Item</h2>
      <th>Digitization Status</th>
      <th>User Status</th>
      <th>Actions</th>
    </tr>
    <% @user.sponsorships.each do |sponsorship| %>
      <tr id="sponsorship-<%= sponsorship.id %>">
        <td><%= link_to sponsorship.artifact.title, catalog_path(sponsorship.artifact.solr_document_id) %></td>
        <td class='state'><%= sponsorship.artifact.state %></td>
        <td class='status'><%= sponsorship_status(sponsorship) %></td>
        <% if sponsorship_status(sponsorship) == "Confirmed/Sponsor" %>
          <td class='actions'><button class="btn btn-mini btn-inverse disabled" type="button"><%= "Unfollow" %></button></td>
        <% else %>
          <td class='actions'><button class="btn btn-mini btn-danger" type="button"><%= sponsorship_actions(sponsorship) %></button></td>
        <% end %>
    <% end %>
  </table>
<% end %>