<div id="current-cart">  
  <h3>Requested items for digitization</h3>
  <% if !@cart.nil? && @cart.shopping_cart_items.length > 0 %>
    <a href="#" class="empty-cart" data-cart="<%= @cart.id %>">Empty Cart</a>
    <ol class="cart_items">
        <% @cart.shopping_cart_items.each do |item| %>
          <li class="cart_list_item cart_list_item-<%= item.id %>"><a href="/catalog/<%= item.solr_document_id %>" class="item-title"><%= item.title %></a> <a href="#" class="remove-cart-item" data-id="<%= item.id %>" data-cart="<%= @cart.id %>">x</a></li>
        <% end %>
    </ol>
    <br />
    <% if @cart.shopping_cart_items.length > 0 %>
      <button id="submit_cart" type="submit" >Submit request</button>
    <% else %>
      <button id="submit_cart" type="submit" disabled>Submit request</button>
    <% end %>
  <% else %>
    <p class="cart_empty">Your cart is currently empty</p>
    <button id="submit_cart" type="submit" disabled>Submit request</button>
  <% end %>
</div>