<div id="tabs">
  <ul>
    <!-- <li><a href="#tabs-1">Open orders</a></li> -->
    <li><a href="#tabs-2">Pending orders</a></li>
    <li><a href="#tabs-3">Closed orders</a></li>
  </ul>
  <!-- <div id="tabs-1">
    <% @carts_open.each do |cart| %>
      <h3>Order #<%= cart.id %></h3>
      <ul>
      <% cart.shopping_cart_items.each do |item| %>
        <li><a href="/catalog/<%= item.solr_document_id %>"><%= item.title %></a></li>
      <% end %>
      </ul>
    <% end %>
  </div> -->
  <div id="tabs-2">
    <% @carts_pending.each do |cart| %>
      <div class="order_item">
        <h3>Request #<%= cart.id %><span class="item-date"><%= cart.submit_date %></span></h3>
        <ol>
          <% cart.shopping_cart_items.each do |item| %>
            <li>
              <a href="/catalog/<%= item.solr_document_id %>"><%= item.title %></a>
              <br />
              <em style="font-size:.7em;">Status: <%= item.status %></em>
              <br />
              <em style="font-size:.7em;">Completed?: <%= item.completed %></em>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
  <div id="tabs-3">
    <%= "<p class='empty_cart'>No closed orders</p>".html_safe unless @carts_closed.length > 0 %>
    <% @carts_closed.each do |cart| %>
      <div class="order_item">
        <h3>Request #<%= cart.id %></h3>
        <ol>
          <% cart.shopping_cart_items.each do |item| %>
            <li>
              <a href="/catalog/<%= item.solr_document_id %>"><%= item.title %></a>
              <br />
              <em style="font-size:.7em;">Status: <%= item.status %></em>
              <br />
              <em style="font-size:.7em;">Completed?: <%= item.completed %></em>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>