<div class="container">
  <div class="row">
    <div class="span3 bs-docs-sidebar navbar-fixed-bottom">
      <ul class="nav nav-list">
        <li><a href="#typography"><i class="icon-chevron-right"></i> Typography</a></li>
        <li><a href="#code"><i class="icon-chevron-right"></i> Code</a></li>
        <li><a href="#tables"><i class="icon-chevron-right"></i> Tables</a></li>
        <li><a href="#forms"><i class="icon-chevron-right"></i> Forms</a></li>
        <li><a href="#buttons"><i class="icon-chevron-right"></i> Buttons</a></li>
        <li><a href="#images"><i class="icon-chevron-right"></i> Images</a></li>
        <li><a href="#icons"><i class="icon-chevron-right"></i> Icons by Glyphicons</a></li>
        <li><a href="#dropdowns"><i class="icon-chevron-right"></i> Dropdowns</a></li>
        <li><a href="#buttonGroups"><i class="icon-chevron-right"></i> Button groups</a></li>
        <li><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> Button dropdowns</a></li>
        <li><a href="#navs"><i class="icon-chevron-right"></i> Navs</a></li>
        <li><a href="#navbar"><i class="icon-chevron-right"></i> Navbar</a></li>
        <li><a href="#breadcrumbs"><i class="icon-chevron-right"></i> Breadcrumbs</a></li>
        <li><a href="#pagination"><i class="icon-chevron-right"></i> Pagination</a></li>
        <li><a href="#labels-badges"><i class="icon-chevron-right"></i> Labels and badges</a></li>
        <li><a href="#typography"><i class="icon-chevron-right"></i> Typography</a></li>
        <li><a href="#thumbnails"><i class="icon-chevron-right"></i> Thumbnails</a></li>
        <li><a href="#alerts"><i class="icon-chevron-right"></i> Alerts</a></li>
        <li><a href="#progress"><i class="icon-chevron-right"></i> Progress bars</a></li>
        <li><a href="#media"><i class="icon-chevron-right"></i> Media object</a></li>
        <li><a href="#misc"><i class="icon-chevron-right"></i> Misc</a></li>
      </ul>
    </div>
    <div class="span9 offset3">
      <%= render 'typography' %>
      <%= render 'code' %>
      <%= render 'tables' %>
      <%= render 'forms' %>
      <%= render 'buttons' %>
      <%= render 'images' %>
      <%= render 'icons' %>
      <!-- COMPONENTS -->
      <%= render 'dropdowns' %>
      <%= render 'button_groups' %>
      <%= render 'navs' %>
      <%= render 'navbar' %>
      <%= render 'breadcrumbs' %>
      <%= render 'pagination' %>
      <%= render 'labels' %>
      <%= render 'typographic_components' %>
      <%= render 'thumbnails' %>
      <%= render 'alerts' %>
      <%= render 'progress_bars' %>
      <%= render 'misc' %>
    </div>
  </div>
</div>  