<div class="row">
  <div class="span9">
    <% Wordpress.get_recent_posts(:count => 4).each do |post| %>
      <div class="post row">
        <div class="post-head">
          <a class="post-date" href="<%=post.url %>">
            <span class="month"><%= post.date.strftime('%b') %></span>
            <span class="day"><%= post.date.strftime('%d') %></span>
          </a>
          <h3><a href="<%= post.url %>"><%= post.title.html_safe %></a></h3>
          <a class="post-author" href="/blog/author/<%= post.author_slug %>"><%= post.author_name %></a>
        </div>
        <div class="thumbnail">
          <%= image_tag post.thumbnail, :alt => '' if post.thumbnail %>
        </div>
        <div class="body span8">
          <%= post.excerpt.html_safe %>
        </div>
      </div>
    <% end rescue nil %>
  </div>
  <div class="span3">
    <ul class="nav nav-list">
      <li class="nav-header">Collections</li>
      <li><a href="/wgbh"><span class="label default">7992</span> WGBH</a></li>
      <li><a href="/cctv"><span class="label default">7191</span> CCTV</a></li>
      <li><a href="/wcvb"><span class="label default">10542</span> WCVB</a></li>
      <li><a href="/whdh"><span class="label default">23414</span> WHDH</a></li>
      <li class="nav-header">Resources</li>
      <li><a href="http://bostonlocaltv.org/blog/resources-archivist/">Archivists</a></li>
      <li><a href="http://bostonlocaltv.org/blog/resources-for-scholars/">Teachers</a></li>
      <li><a href="http://bostonlocaltv.org/blog/resources-for-teachers/">Students</a></li>
      <li class="nav-header blog-link"><a href="http://bostonlocaltv.org/blog/category/student-blogs/">Student Blog</a></li>
    </ul>
  </div>
</div>