<div class="row">
  <div class="span7 offset1">
    <% Wordpress.get_recent_posts(:count => 4).each do |post| %>
      <div class="post">
        <h3><a href="<%= post.url %>"><%= post.title.html_safe %></a></h3>
        <div class="thumbnail">
          <%= image_tag post.thumbnail, :alt => '' if post.thumbnail %>
        </div>
        <div class="meta">
          Posted on <a href="<%=post.url %>"><%= l post.date.to_date, :format => :long %></a> 
          By <a href="/blog/author/<%= post.author_slug %>"><%= post.author_name %></a></div>
        <div class="body">
          <%= post.excerpt.html_safe %>
        </div>
      </div>
    <% end rescue nil %>
  </div>
  <div class="span3 offset1">
    <ul class="nav nav-list">
      <li class="nav-header">Collections</li>
      <li><a href="/wgbh"><span class="label default">7992</span> WGBH</a></li>
      <li><a href="/cctv"><span class="label default">7191</span> CCTV</a></li>
      <li><a href="/wcvb"><span class="label default">10542</span> WCVB</a></li>
      <li><a href="/whdh"><span class="label default">23414</span> WHDH</a></li>
    </ul>
    <ul class="nav nav-list">
      <li class="nav-header">Resources</li>
      <li><a href="/">Archivists</a></li>
      <li><a href="/">Teachers</a></li>
      <li><a href="/">Students</a></li>
    </ul>
    <ul class="nav nav-list">
      <li class="nav-header blog-link"><a href="/">Student Blog</a></li>
    </ul>
  </div>
</div>