<% if document.has? "video_s" %>
  <%# default partial to display solr document fields in catalog show view -%>
	<div id="video_player_container">
	  <video class="video-js vjs-default-skin" data-setup='{ "controls": true, "autoplay": false, "preload": "auto" }' id="videoplayer" width="100%" height="400px">
	    <source src="http://mlamedia01.wgbh.org/bostonlocaltv/<%= render_document_show_field_value :document => document, :field => "video_s" %>" type="video/mp4" />
	  </video>
	</div>
<% end %>

<dl class="defList">
  <!-- <h3>Video Metadata</h3> -->
  <% document_show_fields.each do |solr_fname, field| -%>
    <% if document.has? solr_fname %>
      <% if render_index_field_value(:document => document, :field => solr_fname) != ' ' %>
  	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label :field => solr_fname %></dt>
        <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value :document => document, :field => solr_fname %></dd>
      <% end %>
    <% end -%>
  <% end -%>
</dl>
