<div id="sortAndPerPage">
   <div class="page_links">
     <%= render :partial => "paginate_compact" %>
   </div>
   <div class="video_only">
     <%= form_tag catalog_index_path, :method => :get do %>
        <% if params[:non_video] && params[:non_video]=='yes' %>
          <%= check_box_tag(:non_video, 'yes', true) %>
        <% else %>
          <%= check_box_tag(:non_video, 'yes', false) %>
        <% end %>
       <%= label_tag(:non_video, "Show Non-Video") %>
       <%= search_as_hidden_fields(:omit_keys => [:utf8, :non_video]).html_safe %> 
     <% end %>
   </div>
    <%= render :partial => 'sort_widget' %>

    <%= render :partial => 'per_page_widget' %>

</div>
