<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @item.item_id %>
</p>
<p>
  <b>Vote Count: </b>
  <%= @item.votes_count %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
