<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-input"><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div class="form-input form-submit"><%= f.submit "Send me reset password instructions" %></div>
<% end %>

<%= render "users/shared/links" %>
