<p id="notice"><%= notice %></p>

<p>
  <b>Shopping cart:</b>
  <%= @shopping_cart_item.shopping_cart %>
</p>

<p>
  <b>Item:</b>
  <%= @shopping_cart_item.item %>
</p>


<%= link_to 'Edit', edit_shopping_cart_item_path(@shopping_cart_item) %> |
<%= link_to 'Back', shopping_cart_items_path %>
