<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <%= stylesheet_link_tag  "bostonlocaltv" %>
  <%#= stylesheet_link_tag  "wp" %>
  
<%= stylesheet_link_tag  "blacklight_range_limit/blacklight_range_limit", :media => 'all' %>
<%= stylesheet_link_tag  "blacklight_advanced_search", :media => 'all' %>
  <style type="text/css"><%= yield :blog_stylesheets %></style>
<%= javascript_include_tag "application", "rails" %>
<link href="/assets/video-js.min.css" rel="stylesheet">
<script src="/assets/video.js"></script>
<script>
  videojs.options.flash.swf = "/assets/video-js.swf"
</script>
  <%= csrf_meta_tags %>
  <%= raw(render_head_content) %>
   <!--[if IE 7]><link rel="stylesheet" href="/stylesheets/compiled/ie7.css" type="text/css" media="screen,projection" /><![endif]-->
   <!--[if IE 8]><link rel="stylesheet" href="/stylesheets/compiled/ie8.css" type="text/css" media="screen,projection" /><![endif]-->
   <!--[if IE 9]><link rel="stylesheet" href="/stylesheets/compiled/ie9.css" type="text/css" media="screen,projection" /><![endif]-->
  </head>
  <body class="<%= render_body_class.html_safe %>">

    <div id="page_home">
      <div id="hd_home">
       <div id="logo_left">
         <%= image_tag 'blacklight/top-dates.jpg', :class=>'top-dates-logo', :size=>'122x122', :alt=>'1960 -- 2000' %>
         </div>
         <div id="logo_right">
         <%= render :partial=>'catalog/top_search_form' %>
         <%= image_tag 'blacklight/bostontvnews-logo.png', :class=>'bostontvnews-logo', :size=>'674x75' %>
         <div id="user_info">
           <% if current_user %>
             <p>Welcome back&nbsp;&nbsp;<a href="/users/edit"><%= current_user.full_name %></a><br />
             <a href="/cart">Cart</a> <span class="cart_count">(<%= current_user.cart_items_count(current_user) %>)</span>&nbsp;|&nbsp;<a href="/orders">Your orders</a></p>
           <% else %>
             <a href="/users/sign_in">Log in</a> | <a href="/users/sign_up">Sign up</a>
           <% end %>
         </div>
        </div>
        <div class="clear-both"/>
        </div>
      </div>

      <%= render :partial=>'catalog/menu_header' %>

      <div id="bd_prod">

        <div id="main">
        <div id="main_container">
         <%= render :partial=>'layouts/flash_msg' %>
         <%= content_for?(:content) ? yield(:content) : yield %>
         </div>
        </div>
     
        <div id="sidebar">
          <%#= render :partial=> 'catalog/side_search_form' %>
         <%= sidebar_items.join('').html_safe %>
        </div>

        <div class="clear-both"/>
        </div>
       <%= render :partial=>'catalog/footer' %>
        </div>
   <%= render_votes_visits_code %>
   <%= render_google_analytics_code %>
      </body>

    </html>
