<h2>Sign up</h2>
<p>When you are a registered user of the Boston TV News Digital Library, you can request new, undigitized items be digitized.</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="form-input"><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>
  
  <div class="form-input"><%= f.label :first_name %>
  <%= f.text_field :first_name %></div>
  
  <div class="form-input"><%= f.label :last_name %>
  <%= f.text_field :last_name %></div>

  <div class="form-input"><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div class="form-input"><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div class="form-input form-submit"><%= f.submit "Sign up" %></div>
<% end %>

<%= render "users/shared/links" %>
